//
   Created by ABC on 2/27/2015.

h2 UPLOAD IMAGE
form(action="/upload_image" method="post" enctype='multipart/form-data')
    |Upload image :
    br
    input(type="file" id="file" name="file")
    input(type="submit" value="Upload Image")